

/* Light mode */
.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  background-color: #f5f5f5;
  color: #333;
}

a {
  font-weight: bold;
  color: rgb(212, 163, 115);
  text-decoration: none;
  font-size: 16px;
  margin-left: 20px;
  padding-bottom: 2px;
  transition: all 0.2s ease-in-out;
}

a:hover {
  color: rgb(250, 237, 205);
  border-bottom: 10px solid rgb(254, 250, 224);
  font-size: 18px;
  border-radius: 5px;
  margin-left: 20px;
}

/* Dark mode */
.dark-mode {
  background-color: #054F1D;
  color: #f5f5f5;
}

.dark-mode button{
  background-color: #054F1D;
  color: #f5f5f5;
}

.dark-mode #home{
  background-color: #B68B01;
  color: #f5f5f5;
}

.dark-mode #about{
  background-color: #B68B01;
  color: #f5f5f5;
}

.dark-mode #projects{
  background-color: #B68B01;
  color: #f5f5f5;
}

.dark-mode #connect{
  background-color: #B68B01;
  color: #f5f5f5;
}

.dark-mode a {
  color: rgb(212, 163, 115);
}

.dark-mode a:hover {
  color: rgb(250, 237, 205);
  border-bottom: 10px solid rgb(254, 250, 224);
}

/* Seamless Scroll */
html {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
