#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    text-align: center;
    background-color: rgb(250, 237, 205);
  }
  
  #about h1 {
    font-size: 3rem;
    margin-bottom: 3rem;
  }
  
  #about p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
    
  @media screen and (max-width: 768px) {
    #about {
      padding: 2rem;
    }
    
    #about h1 {
      font-size: 2rem;
    }
    
    #about p {
      font-size: 1.2rem;
    }
  }
  