  #projects {
    background-color: rgb(250, 237, 205);
    padding: 50px 0;
  }
  
  .project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }
  
  .project {
    position: relative;
    margin: 10px;
    overflow: hidden;
    width: 800px;
    height: 400px;
  }
  
  .project img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s;
  }
  
  .project:hover img {
    transform: scale(1.1);
  }
  
  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    opacity: 0;
    transition: opacity 0.5s;
  }
  
  .project:hover .overlay {
    opacity: 1;
  }
  
  .description {
    padding: 10px;
  }
  
  .links {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  .links a {
    color: #fff;
    background-color: rgb(212, 163, 115);
    border-radius: 5px;
    padding: 5px 10px;
    margin: 0 5px;
    text-decoration: none;
  }
  
  .links a:hover {
    background-color: rgb(250, 237, 205);
  }
  
  /* Styles for phones */
  @media (max-width: 600px) {
    .project-container {
      flex-direction: column;
    }
  
    .project {
      width: 90%;
      height: 90%;
    }
    
    .overlay {
      position: relative;
      background-color: rgba(0, 0, 0, 0.6);
      opacity: 1;
    }
  
    .description {
      padding: 10px 20px;
      text-align: center;
    }
  
    .links {
      flex-direction: column;
      align-items: center;
      margin-top: 10px;
    }
  
    .links a {
      margin: 5px 0;
    }
  }
  